<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IApiService1">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false"
              establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://test.sstregister.org/Api.svc" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IApiService1" contract="ServiceReference1.IApiService"
        name="WSHttpBinding_IApiService1">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA9yyKtVf+EgPjrQAhKyUSA3/MkOMgAAAAAQAAAAsCAAAwggIHMIIBdKADAgECAhCkAtcCx01FtUXa+lCG7tJ5MAkGBSsOAwIdBQAwHDEaMBgGA1UEAxMRTXkgUm9vdCBBdXRob3JpdHkwHhcNMTYwMTE4MjIyNzA5WhcNMzkxMjMxMjM1OTU5WjAdMRswGQYDVQQDHhIAUwBTAFQARwBCAF8AVwBTAFMwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBANl02wQ/dApmWUrY9yVAafxliQGOcchvyu0AQF32EYNNyfP89kVWOm4uJlOr/wm/XCSNm4j0aCg49W7HTfgSMuPiGGjTUY9f0F81tkJycHCaFNDbN0ch4svQOl2LkbSvd4En1kze7X27lXnt20f2t0RQf4/svF1ENZSKpk1xUgeFAgMBAAGjUTBPME0GA1UdAQRGMESAEM7CNpqDIzGOyQNS+C7ZdKShHjAcMRowGAYDVQQDExFNeSBSb290IEF1dGhvcml0eYIQH011Jq4J741CSz/ovZPsUzAJBgUrDgMCHQUAA4GBAElGfVxsBF15zffBpsCpw25UqmSNVoqA4podCPUlW8TNdHHnJxqKoM7Ilp4X+R5irzxGGLozB9Y7x3DNhbfBO0GhMGily3Prz+O7V96vRUlKy6cxR1of9DDzJJYPFMnPSjfJJj9fszHZqjCJdNjkozwjJiED6pg35lHn3eTAEXj7" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>