<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="SSTUser" value="{state user name}"/>
    <add key="SSTPass" value="{password}"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IApiService" maxReceivedMessageSize="2147483647">
          <security>
            <message clientCredentialType="UserName" 
                     negotiateServiceCredential="false" 
                     establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://test.sstregister.org/Api.svc" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IApiService" contract="ServiceReference1.IApiService"
        name="WSHttpBinding_IApiService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA+w7MHcGBE2xPnOKXsF5F8SU9XDggAAAAAQAAAAsCAAAwggIHMIIBdKADAgECAhCCtqLwg15ItkU1huFQdjPuMAkGBSsOAwIdBQAwHDEaMBgGA1UEAxMRTXkgUm9vdCBBdXRob3JpdHkwHhcNMTYwMTA4MjMzMDIyWhcNMzkxMjMxMjM1OTU5WjAdMRswGQYDVQQDHhIAUwBTAFQARwBCAF8AVwBTAFMwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAKi9g9Z0CwPnrlfMnxJRjesaqQTiZ/cPj4MTwoyW5CITRJ8rRqV+4yz/A0qL0w1fgqIUaJI05ZpodEVjE1/tQQl6/IAhgDPayfs7bdQ90n2F75IyaOWWOmr99Nu7qwWhsTnnwGoAd6uMopE2qs4le1+6E0OqkawpnlFEG8JHNupfAgMBAAGjUTBPME0GA1UdAQRGMESAEAhussX83yIYA97NRclT8NihHjAcMRowGAYDVQQDExFNeSBSb290IEF1dGhvcml0eYIQZvVy/YP/wLVA4tk3uZr52DAJBgUrDgMCHQUAA4GBAF83AP/itx396Z4fU+7mPaoVRl2LO4tsY3g5AHoNeF77RyytHWNIFSJysVDZn4yyGMAhi8DZAsQ4D6FHdIjsXIBqkn2I9moww+0KjNqVf/IwTaH1dzd99Mtk6eZVVgCQaAJPiG0Kfv3Q/2po1lAmwD6IngXbWauBcjDYSSUHuIhc" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>


